<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body{{ if .IsHome }} class="home"{{ else if not .IsPage }} class="list"{{ end }}>
    <header class="site-header">
      <div class="site-title">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>
      <nav class="header-links">
        {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        {{ else }}
          <a href="/blog/">Blog</a>
          <a href="/pdfs/cv.pdf">CV</a>
          <a href="https://scholar.google.com/citations?user=-mt8ztEAAAAJ&hl=en">Scholar</a>
        {{ end }}
      </nav>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
      {{ partial "foot_custom.html" . }}
      <p class="page-size">Page size: %%PAGESIZE%%</p>
    </footer>
  </body>
</html>
