{{ partial "header.html" . }}

<div class="blog-container">
  <main class="blog-main">
    <h1>Posts tagged with "{{ .Title }}"</h1>
    <ul class="post-list">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </main>

  <aside class="blog-sidebar">
    <h2>Tags</h2>
    <ul class="tag-list">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li>
          <a href="{{ $taxonomy.Page.Permalink }}">{{ $taxonomy.Page.Title }}</a> ({{ $taxonomy.Count }})
        </li>
      {{ end }}
    </ul>
  </aside>
</div>

{{ partial "footer.html" . }}
