{{ define "main" }}
<div class="blog-container">
  <div class="blog-main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="post-list">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="post-date">{{ partial "formatted-date.html" .Date }}</span>
        </li>
      {{ end }}
    </ul>
  </div>

  <aside class="blog-sidebar">
    <h2>Tags</h2>
    <ul class="tag-list">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li>
          <a href="{{ $taxonomy.Page.RelPermalink }}">{{ $taxonomy.Page.Title }}</a> ({{ $taxonomy.Count }})
        </li>
      {{ end }}
    </ul>
  </aside>
</div>
{{ end }}
